@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .orphanage-pin {
    background-color: white;
    border-radius: theme('borderRadius.3xl');
    box-shadow: theme('boxShadow.xl');
  }
  .orphanage-pin .leaflet-popup-content-wrapper{
    background: rgba(255, 255, 255, 0.8);
    border-radius: 20px;
    box-shadow: none;
  } 
  .orphanage-pin .leaflet-popup-content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 8px 12px;

    color: theme('colors.royal-purple-darker');
    font-size: 20px;
    font-weight: bold;
  }

  .orphanage-pin .leaflet-popup-content a {
    width: 40px;
    height: 40px;
    background: theme('colors.royal-purple-darker');

    box-shadow: 17.2868px 27.6589px 41.4884px rgba(23, 142, 166, 0.16);
    border-radius: 12px;

    display: flex;
    justify-content: center;
    align-items: center;
}

  .orphanage-pin .leaflet-popup-tip-container{
    display: none;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: #fff;
  background: #ebf2f5;
}
body, input, button, textarea {
  font: 600 18px Nunito, sans-serif;
}